{% assign t = site.data.translations[site.active_lang] %}
<div class="contact-form">

	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

		<div class="contact-form__item">
			<label class="contact-form__label">{{ t.contact_form.email_label | default: "Email Address *" }}</label>
			<input type="text" name="email" placeholder="{{ t.contact_form.email_placeholder | default: 'Your email address...' }}" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">{{ t.contact_form.name_label | default: "Name *" }}</label>
			<input type="text" name="name" placeholder="{{ t.contact_form.name_placeholder | default: 'Your name...' }}" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">{{ t.contact_form.message_label | default: "Message *" }}</label>
			<textarea name="message" placeholder="{{ t.contact_form.message_placeholder | default: 'Your message...' }}" class="contact-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ t.contact_form.send_button | default: site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>

	</form>

</div>
