{% assign t = site.data.translations[site.active_lang] %}
<header class="header">

	<div class="wrap">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			<img src="/images/favicon.png" alt="" class="header__title__icon">{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					<li class="menu__list__item">
						<a href="{{ '/' | relative_url }}" class="menu__list__item__link">{{ t.nav.home | default: "Home" }}</a>
					</li>
					<li class="menu__list__item">
						<a href="{{ '/apps/' | relative_url }}" class="menu__list__item__link">{{ t.nav.apps | default: "Apps" }}</a>
					</li>
					<li class="menu__list__item">
						<a href="{{ '/about' | relative_url }}" class="menu__list__item__link">{{ t.nav.about | default: "About" }}</a>
					</li>
					<li class="menu__list__item">
						<a href="{{ '/contact' | relative_url }}" class="menu__list__item__link">{{ t.nav.contact | default: "Contact" }}</a>
					</li>
				</ul>
				{% include language-switcher.html %}
			</div>
		</div>

	</div>

</header>
